<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/20c5629a29.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div id="sectionmainPage">
      <div class="bg-container1">
        <h1 class="doctor-heading">
          doctors<span class="care-heading">care</span>
        </h1>
        <p class="hospitals-heading">
          - - - - - - H O S P I T A L S - - - - - -
        </p>
        <p class="safe-hands">You are in safe hands</p>
        <p class="health-para">Start your Healthcare Journey with us</p>
        <p class="health-para">Experts in end-to-end Healthcare</p>
        <img
          class="mainpage-image"
          src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682685293/592c38b1d9e515e5039329bb9f562448_gk7jv9.jpg"
        />
        <button
          class="btn btn-warning mt-5 text-dark"
          onclick="display('sectionhomepage')"
        >
          Let's Start ->
        </button>
      </div>
    </div>
    <div id="sectionhomepage">
      <div class="bg-container2">
        <div class="bg-card2">
          <h1 class="name">Dr. Gowtham</h1>
          <p class="homepage-para mt-4">
            More time Spent with <br />
            the doctor = better care
          </p>
          <p class="homepage-sentence">
            How long was your last doctor's visit? 10 minutes? The short amount
            of time dedicated to an average medical visit doesn't allow for the
            time required to get to the bottom of your health problems. Our
            one-hour long consults will result in a greater clarity about your
            health which results in the need for fewer prescriptions, reducing
            your risk of chronic disease, & cultivating peace of mind.
          </p>
          <p class="homepage-sentence">
            About me(I have over 20 years of experience in doctors field. I
            received my medical degree from XYZ Medical School and completed my
            residency at ABC Hospital .I performed hundreds of successful
            procedures I and dedicated to helping my patients achieve optimal
            mobility and function through personalized care and innovative
            treatments.)
          </p>
          <img
            class="homepage-image"
            src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682691320/doctor-character-background_1270-84_f4gm4n.jpg"
          />
          <p class="homepage-para mt-3">
            Answere some basic Questions to get an idea about your health status
          </p>
          <button
            class="click-button m-2"
            onclick="display('sectionQuestionpage')"
          >
            Click
          </button>
          <p class="homepage-para mt-3">Get your Health problems solutions</p>
          <button
            class="click-button m-2"
            onclick="display('sectionsolutionspage')"
          >
            Click
          </button>
          <p class="homepage-para mt-3">Book Your Doctor's appointment</p>
          <button
            class="click-button m-2"
            onclick="display('sectionDoctorsAppointment')"
          >
            Click
          </button>
          <p class="homepage-para mt-3">Daily Tips To Follow for good Health</p>
          <button
            class="click-button m-2"
            onclick="display('sectionexcercisePage')"
          >
            Click
          </button>
        </div>
        <div class="save-money-card">
          <div class="save-money">
            <i class="fas fa-dollar-sign icons"></i>
            <h1 class="homepage-para">SAVE MONEY</h1>
            <p class="homepage-sentence1">
              With Healthbanc you earn points by visiting healthcare providers,
              viewing promotions, referring friends or healthcare professionals.
              You then redeem these points for discounts on your healthcare
              spend.
            </p>
          </div>
          <div class="save-money">
            <i class="fas fa-heartbeat icons"></i>
            <h1 class="homepage-para">CHANGE HEALTHCARE</h1>
            <p class="homepage-sentence1">
              We started Healthbanc because we noticed somethings were not
              working in our Healthcare system. Healthcare has become complexed,
              often expensive and not focused on prevention. Healthbanc makes it
              easy to build long term relationships with your healthcare
              providers. putting you on the path to lasting health and helping
              fix the healthcare system for good.
            </p>
          </div>
          <div class="save-money">
            <i class="fas fa-history icons"></i>
            <h1 class="homepage-para">SAVE TIME</h1>
            <p class="homepage-sentence1">
              Say goodbye to the hassle of making healthcare appointments. You
              can now book with ease from your phone. Book from a range of
              Healthcare professionals including healthcare providers to keep
              you healthy like nutritionists and personal trainers today!
            </p>
          </div>
        </div>
        <a
          herf="https://play.google.com/store/apps/details?id=com.apollo.patientapp"
          target="_blank"
          class="download"
          >Download App</a
        >
        <button class="download mt-2">Feedback</button>
        <button class="click-button m-2" onclick="display('sectionmainPage')">
          Back
        </button>
      </div>
    </div>
    <div id="sectionQuestionpage">
      <div class="bg-container3">
        <h1 class="homepage-para">
          Answere this questions to give your basic health condition
        </h1>
        <p class="homepage-sentence">
          Note - Please answere the Questions if you are 65+ age person only
        </p>
        <form>
          <h2>Question 1</h2>
          <p>What is your age?</p>
          <label><input type="radio" name="q1" value="a" /> 65-70</label>
          <label><input type="radio" name="q1" value="b" /> 71-75</label>
          <label><input type="radio" name="q1" value="c" /> 76-80</label>
          <label><input type="radio" name="q1" value="d" /> 81 or older</label>

          <h2>Question 2</h2>
          <p>Do you have diabetes?</p>
          <label><input type="radio" name="q2" value="a" /> Yes</label>
          <label><input type="radio" name="q2" value="b" /> No</label>

          <h2>Question 3</h2>
          <p>Do you have high blood pressure?</p>
          <label><input type="radio" name="q3" value="a" /> Yes</label>
          <label><input type="radio" name="q3" value="b" /> No</label>

          <h2>Question 4</h2>
          <p>Have you ever had a stroke?</p>
          <label><input type="radio" name="q4" value="a" /> Yes</label>
          <label><input type="radio" name="q4" value="b" /> No</label>

          <h2>Question 5</h2>
          <p>
            Have you noticed any changes in your vision or hearing recently?
          </p>
          <label><input type="radio" name="q5" value="a" /> Yes</label>
          <label><input type="radio" name="q5" value="b" /> No</label>

          <button type="submit">Submit</button>
          <button
            class="btn btn-secondary text-white ml-5"
            onclick="display('sectionhomepage')"
          >
            Back
          </button>
        </form>
        <div>
          <h1 id="response"></h1>
          <p id="message"></p>
        </div>
      </div>
    </div>
    <div id="sectionsolutionspage">
      <div class="bg-container2">
        <h1 class="homepage-para">Chose your Problem</h1>
        <div class="select-problem d-flex flex-row">
          <div>
            <h1 class="homepage-para">Leg pain</h1>
            <p class="homepage-sentence">
              Leg pain is a common issue that can affect people of all ages, but
              it may be more prevalent in older adults due to age-related
              changes such as arthritis or reduced circulation
            </p>
            <button
              class="btn btn-primary"
              onclick="display('sectionlegpainpage')"
            >
              Click
            </button>
          </div>
          <img
            src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682752666/pain-legs-problems-vector-flat-pain-legs-problems-vector-flat-cartoon-concept-illustration-men-character-design-100663855_dr1b29.jpg"
            class="small-images"
          />
        </div>
        <div class="select-problem d-flex flex-row">
          <div>
            <h1 class="homepage-para">Hearing loss</h1>
            <p class="homepage-sentence">
              Hearing loss is a common problem that can affect people as they
              age. Here are some potential solutions for hearing loss in
              individuals.
            </p>
            <button
              class="btn btn-primary"
              onclick="display('sectionhearingpage')"
            >
              Click
            </button>
          </div>
          <img
            src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682753913/qpiwhx6jhyslyzpystnu.jpg"
            class="small-images"
          />
        </div>
        <div class="select-problem d-flex flex-row">
          <div>
            <h1 class="homepage-para">Heart attack</h1>
            <p class="homepage-sentence">
              Heart attack is a serious medical emergency that requires
              immediate treatment. Here are some potential solutions for
              preventing and treating heart attack in individuals.
            </p>
            <button
              class="btn btn-primary"
              onclick="display('sectionheartAttackpage')"
            >
              Click
            </button>
          </div>
          <img
            src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682754166/images_i5yhwn.jpg"
            class="small-images"
          />
        </div>
        <div class="select-problem d-flex flex-row">
          <div>
            <h1 class="homepage-para">BP and Diabetes</h1>
            <p class="homepage-sentence">
              Here are some potential solutions for managing high blood pressure
              and diabetes in individuals.
            </p>
            <button
              class="btn btn-primary"
              onclick="display('sectionBpingpage')"
            >
              Click
            </button>
          </div>
          <img
            src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682754634/igoawpydrmbuy2ykj8wd.jpg"
            class="small-images"
          />
        </div>
        <p class="homepage-sentence">
          Note- These are very common problems faced by every person. There are
          many health issues faced by an person, we are working on it. We
          introduce those health issues in coming days(Coming soon).
        </p>
        <button
          class="btn btn-secondary text-white m-3"
          onclick="display('sectionhomepage')"
        >
          Back
        </button>
      </div>
    </div>
    <div id="sectionlegpainpage">
      <div class="bg-container2">
        <h1 class="doctor-heading">Leg pain</h1>
        <p class="homepage-para">
          Key-Points to follow to prevent your Leg Pain
        </p>
        <ul>
          <li class="homepage-sentence">
            <span class="safe-hands">Exercise regularly: </span> Low-impact
            exercises such as walking, swimming, or yoga can help improve
            circulation, strengthen muscles, and reduce pain.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Stretching: </span> Regular stretching,
            especially before and after exercise, can help reduce stiffness and
            pain in the legs.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Hot and cold therapy: </span> Applying a
            hot or cold compress to the affected area can help reduce pain and
            inflammation.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Over-the-counter pain relievers: </span>
            Non-steroidal anti-inflammatory drugs (NSAIDs) such as ibuprofen or
            aspirin can help reduce pain and inflammation.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Massage therapy: </span> Gentle massage or
            foam rolling can help increase blood flow and reduce muscle tension.
          </li>
        </ul>
        <p class="homepage-para">Few Medicines Lists</p>
        <ol class="health-para">
          <li>Aceclofenac tablets for pain and inflammation (Preservex).</li>
          <li>Acemetacin capsules for pain and inflammation.</li>
          <li>
            Acetaminophen (Acephen, Infants' FeverAll, Mapap, Panadol, Tylenol)
          </li>
        </ol>
        <p class="safe-hands">
          Note: This is basic medicine names commonly used. But you need to
          consult a Doctor
        </p>
        <button
          class="btn btn-warning m-3"
          onclick="display('sectionsolutionspage')"
        >
          Back
        </button>
      </div>
    </div>
    <div id="sectionhearingpage">
      <div class="bg-container2">
        <h1 class="doctor-heading">Hearing Loss</h1>
        <p class="homepage-para">
          Key-Points to follow to prevent your Hearing Loss
        </p>
        <ul>
          <li class="homepage-sentence">
            <span class="safe-hands">Hearing aids: </span> The use of hearing
            aids can help improve hearing by amplifying sound. There are a
            variety of hearing aids available, ranging from behind-the-ear to
            in-the-ear models.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Cochlear implants: </span> For individuals
            with severe hearing loss, a cochlear implant may be recommended.
            This device is surgically implanted and sends signals directly to
            the auditory nerve.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Assistive listening devices: </span> These
            devices can help amplify sound in specific situations, such as in a
            noisy restaurant or while watching television.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Lip reading and sign language: </span>
            Learning lip reading or sign language can also help improve
            communication.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Medications: </span> In some cases,
            medications may be prescribed to treat underlying conditions that
            contribute to hearing loss, such as ear infections.
          </li>
        </ul>
        <p class="homepage-para">3 types of treatment for hearing loss</p>
        <ol class="health-para">
          <li>Surgery.</li>
          <li>Removing earwax.</li>
          <li>Hearing aids.</li>
        </ol>
        <p class="safe-hands">
          Note: This is basic medicine names commonly used. But you need to
          consult a Doctor
        </p>
        <button
          class="btn btn-warning m-3"
          onclick="display('sectionsolutionspage')"
        >
          Back
        </button>
      </div>
    </div>
    <div id="sectionheartAttackpage">
      <div class="bg-container2">
        <h1 class="doctor-heading">Heart attacck</h1>
        <p class="homepage-para">
          Key-Points to follow to prevent your heart attack
        </p>
        <ul>
          <li class="homepage-sentence">
            <span class="safe-hands">Lifestyle changes: </span> Maintaining a
            healthy lifestyle by exercising regularly, eating a balanced diet,
            avoiding smoking can help reduce the risk of heart attack.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Medications: </span> Various medications,
            such as statins to lower cholesterol levels, anti-platelet drugs to
            prevent blood clots to help prevent heart attack.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Angioplasty and stenting: </span> In some
            cases, angioplasty and stenting may be performed to open blocked
            arteries and improve blood flow to the heart.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">Cardiac rehabilitation: </span> After a
            heart attack, a cardiac rehabilitation program may be recommended to
            help patients recover and prevent future heart problems.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands"
              >Coronary artery bypass grafting (CABG):
            </span>
            For severe blockages in the heart's arteries, CABG may be
            recommended, which involves rerouting blood flow around the blocked
            area.
          </li>
        </ul>
        <p class="homepage-para">Few Medicines Lists</p>
        <ol class="health-para">
          <li>Nitroglycerin.</li>
          <li>Statins.</li>
          <li>Morphine.</li>
        </ol>
        <p class="safe-hands">
          Note: These is basic treatments for hearing loss. But you need to
          consult a Doctor
        </p>
        <button
          class="btn btn-warning m-3"
          onclick="display('sectionsolutionspage')"
        >
          Back
        </button>
      </div>
    </div>
    <div id="sectionBpingpage">
      <div class="bg-container2">
        <h1 class="doctor-heading">BP/Diabetes</h1>
        <p class="homepage-para">
          Key-Points to follow to prevent your BP / Diabetes
        </p>
        <ul>
          <li class="homepage-sentence">
            <span class="safe-hands">For BP(Medications): </span> Various
            medications, such as ACE inhibitors, diuretics, and beta-blockers,
            may be prescribed to help lower blood pressure.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">For BP(Lifestyle changes): </span>
            Maintaining a healthy weight, following a balanced diet low in
            sodium, exercising regularly, and avoiding smoking and excessive
            alcohol consumption can help reduce blood pressure.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">For Diabetes(Medications): </span> Various
            medications, such as metformin, insulin, and sulfonylureas, may be
            prescribed to help manage blood sugar levels.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">For Diabetes(Lifestyle changes): </span>
            Following a healthy diet low in sugar and carbohydrates, exercising
            regularly, maintaining a healthy weight, and avoiding smoking can
            help manage diabetes.
          </li>
          <li class="homepage-sentence">
            <span class="safe-hands">For Diabetes(Regular check-ups): </span>
            Regular monitoring of blood sugar levels can help individuals manage
            their diabetes and make necessary adjustments to their treatment
            plan.
          </li>
        </ul>
        <p class="homepage-para">--->Diet is best for Bp and Sugar</p>
        <p class="health-para">
          The DASH diet is a healthy-eating plan designed to help treat or
          prevent high blood pressure (hypertension). The DASH diet includes
          foods that are rich in potassium, calcium and magnesium. These
          nutrients help control blood pressure. The diet limits foods that are
          high in sodium, saturated fat and added sugars.
        </p>
        <p class="safe-hands">
          Note: This is basic information we provide. But you need to consult a
          Doctor
        </p>
        <button
          class="btn btn-warning m-3"
          onclick="display('sectionsolutionspage')"
        >
          Back
        </button>
      </div>
    </div>
    <div id="sectionDoctorsAppointment">
      <div class="bg-card">
        <h1 class="word">Book a Doctor's Appointment</h1>
        <form id="appointment-form" class="doctor">
          <label for="name" class="word">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
          />
          <label for="email" class="word">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            required
          />
          <label for="phone" class="word">Phone:</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="form-control"
            required
          />
          <label for="date" class="word">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            class="form-control"
            required
          />
          <label for="time" class="word">Time:</label>
          <input
            type="time"
            id="time"
            name="time"
            class="form-control"
            required
          />
          <label for="reason" class="word">Reason for Appointment:</label>
          <textarea id="reason" name="reason" required></textarea>
          <input
            type="submit"
            value="Book Appointment"
            class="btn btn-primary m-3"
          />
        </form>
        <button
          class="btn btn-secondary text-white m-3"
          onclick="display('sectionhomepage')"
        >
          Back
        </button>
        <p id="heading"></p>
      </div>
    </div>
    <div id="sectionexcercisePage">
      <div class="excercise">
        <h1 class="heading-excercise">
          Here are some things that can be done daily for good health
          conditions:
        </h1>
        <h1 class="paragraph-excercise">(YOGA)</h1>
        <img
          src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682773947/elkkzah7khhvo3m7eqth.jpg"
          class="yogaImage"
        />
        <h1 class="paragraph-excercise">(SURYA NAMASKAR)</h1>
        <img
          src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682774142/cjexxvw7x8xks2umbgvz.jpg"
          class="yogaImage"
        />
        <h1 class="paragraph-excercise">(MEDITATION)</h1>
        <img
          src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682774281/s3fvqwxdx9choxtetzwp.jpg"
          class="yogaImage"
        />
        <h1 class="paragraph-excercise">(EXCERCISE)</h1>
        <img
          src="https://res.cloudinary.com/dltof1ccv/image/upload/v1682774411/k2kmv9zo3ns6lve3mebr.jpg"
          class="yogaImage"
        />
        <div class="key-points">
          <h1>Key Points ---></h1>
          <ul class="paragraph-excercise">
            <li>
              Eat a balanced and nutritious diet: A healthy and balanced diet
              can provide all the essential nutrients required for the body to
              function properly. It is important to include a variety of fruits,
              vegetables, whole grains, lean proteins, and healthy fats in your
              daily meals.
            </li>
            <li>
              Exercise regularly: Regular physical activity can help improve
              cardiovascular health, strengthen bones and muscles, and reduce
              the risk of chronic diseases. Aim for at least 30 minutes of
              moderate-intensity exercise, such as brisk walking or cycling, on
              most days of the week.
            </li>
            <li>
              Stay hydrated: Drinking enough water is essential for maintaining
              good health. It helps regulate body temperature, transport
              nutrients, and remove waste products. Aim for at least 8-10
              glasses of water per day.
            </li>
            <li>
              Get enough sleep: Getting adequate sleep is crucial for
              maintaining good health. It helps improve memory, mood, and
              cognitive function, and also helps the body repair and regenerate.
            </li>
            <li>
              Manage stress: Chronic stress can have negative effects on both
              physical and mental health. Practicing relaxation techniques such
              as deep breathing, meditation, or yoga can help reduce stress and
              promote overall well-being.
            </li>
          </ul>
          <p class="paragraph-excercise">
            (Follow these points for good Health)
          </p>
        </div>
        <button
          class="btn btn-secondary text-white ml-5"
          onclick="display('sectionhomepage')"
        >
          Back
        </button>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/js/ccbp-ui-kit.js"
    ></script>
  </body>
</html>
